<div id="social">
  <div class="row">
    <div class="col-xs-4">
      <%= link_to (image_tag "instagram_black.png"), "http://cn.linkedin.com/in/ryancrocombe", target: "_blank" %>
    </div>
    <div class="col-xs-4">
      <%= link_to (image_tag "instagram_black.png"), "http://www.instagram.com/__ryanryan", target: "_blank" %>
    </div>
    <div class="col-xs-4">
      <%= link_to (image_tag "instagram_black.png"), "http://www.soundcloud.com/ryanryan-1", target: "_blank" %>
    </div>
  </div>
</div>