	<header>

	</header>

	<div class="pagecontainer">

		<div id="logo-wrap">
			<%= image_tag "Asset 1.png"%>
		</div>

		<br>
		<br>
		<br>
		<br>

		<h5 id="launching-soon">Launching soon<br><br>敬請期待</h5>

		<br>
		<br>
		<br>
		<br>

	    <%= render 'social' %>

		<h6>CREATED IN CHINA | 中國創造</h6>	

	</div>
	
	<footer>
		<p>© 2016 Aoye Ltd</p>
	</footer>
