<div class="pagecontainer-desktop">

	<div class="logo-wrap desktop-logo">
		<%= image_tag "logo-aoye-inv.png"%>
	</div>

	<%= render 'blurb' %>		

	<!-- <h5 id="launching-soon">Launching soon <br><br> 敬請期待 </h5> -->
	<br>
	<!--- <h6>CREATED IN CHINA | 中國創造</h6>	-->
	<footer><p>© 2018 Aoye Ltd</p></footer>
</div>

<div class="pagecontainer-mobile">

	<header>
		<div class="logo-wrap mobile-logo">
			<%= image_tag "logo-aoye-inv.png"%>
		</div>
	</header>

	<%= render 'blurb' %>	

	<hr>

	<footer><p>© 2018 Aoye Ltd</p></footer>
</div>
	

