	<header>

	</header>

	<div class="pagecontainer">

		<div id="logo-wrap">
			<%= image_tag "logo.png"%>
		</div>

		<br>
		<br>
		<br>

		<h5>Launching soon.</h5>

		<br>
		<br>
		<br>

	    <%= render 'social' %>

	    <br>

		<h6>CREATED IN CHINA</h6>	
	
	</div>

	<footer>
	</footer>
