@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

/* BASE STYLES ====================== */

$font-family-sans-serif: "Raleway", "Press Start 2P", "VT323", "Quicksand", Helvetica, sans-serif;

/*----------------------------------------------------------------------------- 
1. BASE STYLES  
-----------------------------------------------------------------------------*/
.clear {
	clear: both;
}

.align-right {
	float: right;
}

.align-left {
	float: left;
}

.divider {
	height: 1px;
	width: 45%;
	border-color: silver;
	margin: 0 auto;
}

/*----------------------------------------------------------------------------- 
2. SECTION ELEMENTS  
-----------------------------------------------------------------------------*/

.pagecontainer /* Body container */{
	margin: 0 auto 0 auto;
}

.section {
	margin: 0 auto;
	padding: 20px 0;
}

/* Header */

header {
	height: 95px;

		@media (max-width: 600px) {
		height: 50px;
		}
}

#logo-wrap {	
	margin: 0 auto;
	text-align: center;
}

#logo-wrap img {
	max-width: 400px; /* 320px for vertical logo */
	padding: 20px;
	opacity: 0.6;
}

#social /* Social media icons */{
	width: 50px;
	margin: 0 auto;
	text-decoration: none;
}

#social .col-xs-6 {
	padding: 0;
}

#social img {
	width: 24px;
	opacity: 0.5;
	padding: 0;
}

#social img:hover {
	opacity: 0.9;
	transition: opacity 0.3s ease-in;
}

/* Body */


/* Footer */

footer {
	background: url(footer_lodyas.png);
	width: 100%;
	padding: 0 35px;
}

footer p {
	text-align: left;
	color: silver;
	margin: 0;

		@media (max-width: 600px) {
		text-align: center;
	}
}

footer a {	
}

footer a:hover {
	text-decoration: none;
}

/*----------------------------------------------------------------------------- 
3. BACKGROUND PANELS  
-----------------------------------------------------------------------------*/

.aboutme-row {
	display: inline-block;
}

.aboutme-panel-top {
	width: 240px;
	height: 550px;
	margin: 30px 30px;
	display: inline-block;
	position: relative;
}

.aboutme-panel-bottom {
	width: 240px;
	height: 520px;
	margin: 30px 30px;
	display: inline-block;
	position: relative;
}

.aboutme-panel-container {
	position: absolute;
	top: 0;
	width: 100%;
}

.aboutme-panel-content {
}

.aboutme-pic {	
	border-radius: 50%;
	height: 240px;
	width: 240px;
	margin-bottom: 10px;
}

.aboutme-pic-wrap {
	position: relative;
	margin-bottom: 10px;
}

.aboutme-pic-description {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border-radius: 50%;
	height: 240px;
	width: 240px;
	padding-top: 100px;
	background: rgba(0,0,0,0.3);
	color: white;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

.aboutme-pic-wrap:hover .aboutme-pic-description {
	visibility: visible;
	opacity: 1;
}


/*----------------------------------------------------------------------------- 
4. OTHER  
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

@import 'bootstrap-sprockets';
@import 'bootstrap';
