// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, a {
	text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

body {
	text-align: center;
}

h1 /* Banner title */{
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 7px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 20px;
}

h2  /* Section title text */{
	font-size: 40px;
	line-height: 1.5;
	margin: 0;
	padding: 12px 18px 20px 18px;
	text-align: center;
	color: #707070;
	letter-spacing:3px;
}

h3  /* Bucket list text */{
}

h4 /* "Passionate about..." text */{
}

h5 /* Text for startup industries */{
	font-family: 'Quicksand', 'daty3';
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 4px;
	margin: 10px 0 0 0;
	color: #707070;
}

h6 /* Text for aboutme titles */{
	font-family: 'Quicksand', 'daty3';
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 4px;
	margin: 20px 0;
	color: #848484;
}

p /* Regular content */{
	font-family: 'Quicksand';
	font-size: 10px;
	font-weight: 300;
	line-height: 1.5;
	color: #494949;
}


.aboutme-panel-content p {
	font-weight: 300;
	text-align: center;
}

#aboutme p {
	font-size: 18px;
}

#contact p {
	color: white;
	align: center;
	font-weight: 300;
	font-size: 21px;
}